.tv-1,
.tv-1 * {
  box-sizing: border-box;
  position: relative;
}

.tv-1 {
  background: #ffffff;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.mesa-de-trabajo-1-1 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.toall-humedasx-72-pz-very-care {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 4vw;
  font-weight: 700;
  position: absolute;
  top: 32%;
  left: 5%;
  right: 23%;
}

.ref-precio-x-und {
  color: #000000;
    text-align: left;
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 2.9vw;
    font-weight: 700;
    position: absolute;
    top: 51%;
    left: 10%;
}

._1-44 {
  color: #000000;
    text-align: left;
    font-family: "PassionOne-Bold", sans-serif;
    font-size: 16vw;
    font-weight: 700;
    position: absolute;
    bottom: 15%;
    left: 10%;
}