<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Ofertas</title>
    <!-- Enlaces a archivos CSS de Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>
    <div class="oferta">Ofertas</div>
    
    <div class="slider">
        <ul class="owl-carousel">
            {% for oferta in ofertas %}
            <li>
                <div class="oferta_titulo">{{ oferta.titulo }}</div>
                <div class="oferta_sub">{{ oferta.subcategoria }}</div>
                {% if oferta.imagen and oferta.imagen_existente %}
                <img src="{{ oferta.imagen }}">
                {% endif %}
                <div class="precio">${{ oferta.precio }}</div>
                <div class="marca2">{{ oferta.marca }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Enlaces a archivos JavaScript de Owl Carousel y jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- Inicialización del slider -->
    <script>
        $(document).ready(function() {
            $('.owl-carousel').owlCarousel({
                items: 1,
                loop: true,
                nav: true,
                dots: true,
                autoplay: true,
                autoplayTimeout: 5000 // Duración de 5 segundos
                // Puedes ajustar otras opciones según tus necesidades
            });
        });
    </script>
</body>
</html>