{% extends 'base0.html' %}

{% block content %}
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Container-->
						<div class="container-xxl" id="kt_content_container">
							<!--begin::Careers - Apply-->
							<div class="card">
								<!--begin::Body-->
								<div class="card-body p-lg-17">
									<!--begin::Hero-->
									<div class="position-relative mb-17">
										<!--begin::Overlay-->
										<div class="overlay overlay-show">
											<!--begin::Image-->
											<div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-250px" style="background-image:url('assets/media/stock/1600x800/img-1.jpg')"></div>
											<!--end::Image-->
											<!--begin::layer-->
											<div class="overlay-layer rounded bg-black" style="opacity: 0.4"></div>
											<!--end::layer-->
										</div>
										<!--end::Overlay-->
										<!--begin::Heading-->
										<div class="position-absolute text-white mb-8 ms-10 bottom-0">
											<!--begin::Title-->
											<h3 class="text-white fs-2qx fw-bold mb-3 m">Pantallas</h3>
											<!--end::Title-->
											<!--begin::Text-->
											<div class="fs-5 fw-semibold">Mostrando.</div>

											
											
											<table>
												
												
													<tr>
														<td><div class="card card-stretch">
															<!--begin::Link-->
															<a href="../../agregar-pantalla/" class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10">
																<i class="ki-duotone ki-abstract-26 fs-2tx mb-5 ms-n1">
																	<span class="path1"></span>
																	<span class="path2"></span>
																	<span class="path3"></span>
																	<span class="path4"></span>
																</i>
																<span class="fs-4 fw-bold">Agregar Pantallas</span>
																<b>Automercado</b>
															</a>
															<!--end::Link-->
														</div></td>
														<td><div class="card card-stretch">
															<!--begin::Link-->
															<a href="../../agregar-pantalla/" class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10">
																<i class="ki-duotone ki-abstract-26 fs-2tx mb-5 ms-n1">
																	<span class="path1"></span>
																	<span class="path2"></span>
																	<span class="path3"></span>
																	<span class="path4"></span>
																</i>
																<span class="fs-4 fw-bold">Agregar Pantallas</span>
																<b>Farmacia</b>
															</a>
															<!--end::Link-->
														</div></td>
														
														
														
													</tr>
												
											</table>
											<!--end::Text-->
										</div>
										
										<!--end::Heading-->
									</div>
									<!--end::-->
									<!--begin::Layout-->
									<div class="d-flex flex-column flex-lg-row mb-17">
										<!--begin::Content-->
										<div class="flex-lg-row-fluid me-0 me-lg-20">
											<!--begin::Form-->
											
											
											<h1>Pantallas</h1>
											<table>
												<tr>
													<th>Id</th>
													<th>Pantalla</th>
													<th>Descripción</th>
													<th>Tipo</th>
													<th>Código de Producto</th>
													<th>Acciones</th>
													
												</tr>
												{% for pantalla in pantallas %}
													<tr>
														<td>{{ pantalla.id }}</td>
														<td>{{ pantalla.nombre }}</td>
														<td>{{ pantalla.descripcion }}</td>
														<td>{{ pantalla.tipo }}</td>
														<td>{{ pantalla.id_producto }}</td>
														<td>
															<a href="{% url 'ver_pantalla' pantalla.id %}">Ver</a>
															<a href="{% url 'modificar_pantalla' pantalla.id %}">Modificar</a>
															<a href="{% url 'eliminar_pantalla' pantalla.id %}">Eliminar</a>
														  </td>
														
													</tr>
												{% endfor %}
											</table>
											<div class="pagination">
												<span class="step-links">
													{% if productos.has_previous %}
														<a href="?page=1">&laquo; primera</a>
														<a href="?page={{ productos.previous_page_number }}">anterior</a>
													{% endif %}
											
													<span class="current-page">{{ productos.number }}</span>
											
													{% if productos.has_next %}
														<a href="?page={{ productos.next_page_number }}">siguiente</a>
														<a href="?page={{ productos.paginator.num_pages }}">última &raquo;</a>
													{% endif %}
												</span>
											</div>
											  


											
										</div>
													<!--end::Content-->
													<!--begin::Separator-->
													<div class="separator separator-dashed"></div>
													<!--end::Separator-->
												</div>
												<!--end::Section-->
												<!--begin::Section-->
												<div class="m-0">
													<!--begin::Heading-->
													
													<!--end::Separator-->
												</div>
												<!--end::Section-->
												<!--begin::Section-->
												<div class="m-0">
													<!--begin::Heading-->
												</div>
												<!--end::Section-->
												<!--end::Accordion-->
											</div>
											<!--end::Job-->
										</div>
										<!--end::Content-->
										<!--begin::Sidebar-->
										
									</div>
									
									<!--end::Section-->
									<!--begin::Card-->
									<div class="card mb-4 bg-light text-center">
										<!--begin::Body-->
										<div class="card-body py-12">
											<!--begin::Icon-->
											<a href="#" class="mx-4">
												<img src="assets/media/svg/brand-logos/facebook-4.svg" class="h-30px my-2" alt="">
											</a>
											<!--end::Icon-->
											<!--begin::Icon-->
											<a href="#" class="mx-4">
												<img src="assets/media/svg/brand-logos/instagram-2-1.svg" class="h-30px my-2" alt="">
											</a>
											<!--end::Icon-->
											<!--begin::Icon-->
											<a href="#" class="mx-4">
												<img src="assets/media/svg/brand-logos/github.svg" class="h-30px my-2" alt="">
											</a>
											<!--end::Icon-->
											<!--begin::Icon-->
											<a href="#" class="mx-4">
												<img src="assets/media/svg/brand-logos/behance.svg" class="h-30px my-2" alt="">
											</a>
											<!--end::Icon-->
											<!--begin::Icon-->
											<a href="#" class="mx-4">
												<img src="assets/media/svg/brand-logos/pinterest-p.svg" class="h-30px my-2" alt="">
											</a>
											<!--end::Icon-->
											<!--begin::Icon-->
											<a href="#" class="mx-4">
												<img src="assets/media/svg/brand-logos/twitter.svg" class="h-30px my-2" alt="">
											</a>
											<!--end::Icon-->
											<!--begin::Icon-->
											<a href="#" class="mx-4">
												<img src="assets/media/svg/brand-logos/dribbble-icon-1.svg" class="h-30px my-2" alt="">
											</a>
											<!--end::Icon-->
										</div>
										<!--end::Body-->
									</div>
									<!--end::Card-->
								</div>
								<!--end::Body-->
							</div>
							<!--end::Careers - Apply-->
						</div>
						
							
						
					</div>
					{% endblock %}