<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'minitor/vars.css' %}" />
    <link rel="stylesheet" href="{% static 'minitor/style3.css' %}" />
    <link rel="shortcut icon" href="{% static 'assets/media/logos/cropped-r-redvital-192x192.png' %}" />
		<!--begin::Fonts(mandatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Vendor Stylesheets(used for this page only)-->
		<link href="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Vendor Stylesheets-->
		<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
		<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
    <style>
      body {
        background: linear-gradient(
        90deg,
        rgba(35, 73, 198, 1) 0%,
        rgba(255, 20, 2, 1) 100%
      );; 
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
      }
    </style>
    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <input type="text" class="form-control" placeholder="Codigo de barra" aria-label="Recipient's username" aria-describedby="basic-addon2"/>
    
      
      <div class="group-176">
        <div class="group-164">
          <div class="group-163">
            <div class="group-100">
              <svg
                class="rectangle-33"
                width="684"
                height="489"
                viewBox="0 0 684 489"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 12C0 5.37259 5.37258 0 12 0H672C678.627 0 684 5.37258 684 12V477C684 483.627 678.627 489 672 489H12C5.37258 489 0 483.627 0 477V12Z"
                  fill="white"
                  fill-opacity="0.98"
                />
              </svg>
              <div class="et-documents-1"></div>
            </div>
          </div>
        </div>
        
        <div class="group-410">
          
          <div class="group-29">
            <div class="group-30">
              <div class="group-81">
                
              <div class="de"><div class="input-group mb-5">
                <input type="text" class="form-control" placeholder="Codigo de barra" aria-label="Recipient's username" aria-describedby="basic-addon2"/>
                <span class="input-group-text" id="basic-addon2">Buscar</span>
            </div>
            </div>
          </div>
        </div>
        <div class="group-415">
          <div class="group-250">
            <div class="group-180">
              <svg
                class="group-68"
                width="95"
                height="29"
                viewBox="0 0 95 29"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 5C0 2.23858 2.23858 0 5 0H90C92.7614 0 95 2.23858 95 5V24C95 26.7614 92.7614 29 90 29H5C2.23857 29 0 26.7614 0 24V5Z"
                  fill="#FF3D46"
                  fill-opacity="0.9"
                />
              </svg>
              <div class="de2">En Oferta</div>
            </div>
          </div>
          <svg
            class="descuento-1"
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_30_26)">
              <path
                d="M6.53917 12.25L12.25 6.53917V7.70584C12.25 8.015 12.1275 8.3125 11.9058 8.52834L7.36167 13.0725C6.90667 13.5275 6.16583 13.5275 5.71083 13.0725L2.08833 9.45C1.63333 8.995 1.63333 8.25417 2.08833 7.79917L6.53917 12.25Z"
                fill="white"
              />
              <path
                d="M7.36167 10.1558C7.13417 10.3833 6.83667 10.5 6.53917 10.5C6.24167 10.5 5.94417 10.3833 5.71667 10.1558L2.09417 6.53333C1.63917 6.07833 1.63917 5.3375 2.09417 4.8825L6.63833 0.338333C6.85417 0.1225 7.15167 0 7.46083 0H11.0833C11.725 0 12.25 0.525 12.25 1.16667V4.78917C12.25 5.09833 12.1275 5.39583 11.9058 5.61167L7.36167 10.1558ZM11.0833 1.16667H7.46083L2.91667 5.71083L6.53917 9.33333L11.0833 4.78917V1.16667Z"
                fill="white"
              />
              <path
                d="M9.77083 3.20833C9.36813 3.20833 9.04167 2.88187 9.04167 2.47917C9.04167 2.07646 9.36813 1.75 9.77083 1.75C10.1735 1.75 10.5 2.07646 10.5 2.47917C10.5 2.88187 10.1735 3.20833 9.77083 3.20833Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_30_26">
                <rect
                  width="14"
                  height="14"
                  fill="white"
                  transform="matrix(-1 0 0 1 14 0)"
                />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
      <div class="de3">
        Bebida Aloe Vera King
        <br />
        Fresa 500ML
      </div>
      <div class="de4">Precio:</div>
      <div class="de5">Bs. 95,25</div>
      <div class="de6">Precio USD</div>
      <div class="de7">2.5$</div>
      <div class="de8">
        <span>
          <span class="de-8-span">Codigo:</span>
          <span class="de-8-span2">C00000090</span>
        </span>
      </div>
      <img
        class="black-weekend-redvital-makro-2"
        src="{% static 'minitor/black-weekend-redvital-makro-20.png' %}"
      />
      <div class="line-18"></div>
      <div class="group-417">
        <div class="group-413">
          <div class="group-411">
            <div class="group-390">
              <div class="group-384">
                <div class="group-1642">
                  <div class="lista-productos-solicitud">
                    <div class="tarjeta-solicitudes">
                      <div class="rectangle-15"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="de9">Insumos MQ</div>
        </div>
      </div>
      <div class="group-414">
        <div class="group-4112">
          <div class="group-3902">
            <div class="group-3842">
              <div class="group-1643">
                <div class="lista-productos-solicitud2">
                  <div class="tarjeta-solicitudes2">
                    <div class="rectangle-152"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="de10">Marca: OKF</div>
      </div>
      <div class="group-416">
        <div class="group-412">
          <div class="group-3903">
            <div class="group-3843">
              <div class="group-1644">
                <div class="lista-productos-solicitud3">
                  <div class="tarjeta-solicitudes3">
                    <div class="rectangle-153"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="de11">Cirugía</div>
      </div>
    
  </body>
</html>
